
*.py
__pycache__/config1.cpython-312.pyc
.cache
.cache
__pycache__/config1.cpython-312.pyc
.cache
__pycache__/config1.cpython-312.pyc
__pycache__/config2.cpython-310.pyc
__pycache__/config1.cpython-312.pyc
__pycache__/config1.cpython-312.pyc
.cache
